*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 8%;
    background-color: black;
}
.post{
    margin: auto;
    background-color: white;
    width: 500px;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
.header{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon-css{
   height: 60%;
   width: 0%;
   align-self: center;
   font-size: 1.7em;
   margin: 4px 4px 0px 8px;
}
.text{
    width: 85%;
    height: 80%;
    align-content: flex-start;
    font-size: 16px;
    padding: 10px 10px 15px 10px;
}
.tres-puntos{
    margin: 8px 15px 8px 0px;
    align-self: center;
    font-size: 1.5em;
}

.imagen{
    text-align: center;
}
.botones{
    width: 100%;
    height: 7%;
    display: flex;
}
.heart{
   height: 80%;
   width: 4%;
   align-self: center;
   font-size: 1.5em;
   margin: 4px 4px 0px 8px;
}
.comment{
   height: 80%;
   width: 4%;
   align-self: center;
   font-size: 1.5em;
   margin: 4px 4px 0px 8px;
}
.paper{
   height: 80%;
   width: 4%;
   align-self: center;
   font-size: 1.5em;
   margin: 4px 4px 0px 8px;
}
.save{
    margin: 8px 15px 8px 370px;
    align-self: center;
    font-size: 1.5em;
}
.texto{
    width: 100%;
    height: 30%;
    padding: 2px;
    font-size: 1em;
}